.home {
    background-color: #FEDF78;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .weekly-pet, .hot-issue, .free-board {
    margin-bottom: 40px;
  }
  
  .weekly-pet h2, .hot-issue h2, .free-board h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .slick-slide img {
    width: 131px;
    height: 176px;
    margin: 0 auto;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .free-board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .free-board .posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .post {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .more-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  