.navbar {
  background-color: #FEDF78;
  font-family: Arial, sans-serif;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-bottom {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border-top: 1px solid #FEDF78;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-auth a {
  margin-left: 20px;
}

.navbar-links a {
  margin: 0 100px;
}
